<!doctype html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/css/AdminLTE.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo"><b>2019年度卒業ゼミ</div>
    <div class="login-box-body">
      <p class="login-box-msg">2019年度卒業ゼミにログイン</p>
  
      <form action="/login" method="post">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" name="username" placeholder="ユーザーID">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" id="password" class="form-control" name="password" placeholder="パスワード">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="checkbox" id="password-check">
          <label>show password</label>
          <div id="eye" class="glyphicon glyphicon-eye-close"></div>
        </div>
        <div class="row">
          <div class="col-xs-offset-8 col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">ログイン</button>
          </div>
        </div>
      </form>
      </div>
  </div>
</body>
<script>
  var pw = document.getElementById('password');
  var pwCheck = document.getElementById('password-check');
  var eye = document.getElementById('eye');
  pwCheck.addEventListener('change', function() {
    if(pwCheck.checked) {
      pw.setAttribute('type', 'text');
      eye.classList.remove('glyphicon-eye-close')
      eye.classList.add('glyphicon-eye-open')
    } else {
      pw.setAttribute('type', 'password');
      eye.classList.remove('glyphicon-eye-open')
      eye.classList.add('glyphicon-eye-close')
    }
  }, false);  
</script>
</html>
